/* grid.scss */
$gap: 2.4rem;
$grid_margin: 2.4rem;

.grid {
    display: grid;
    gap: $gap;
    margin: 0 0 $grid_margin 0;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.grid > div {
    height: 100px;
    background: red;
}